<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>MAP專案</title>
    <script async defer type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcFTMnSYQ6sVpXOGouSKBFRmfEy-AWDFI&callback=loadGoogleMap">
    </script>
    <script language="javascript">
        google.map.event.addDomListener(window, 'load', loadGoogleMap);
        var map; //地圖
        function loadGoogleMap() { // 顯示 GoogleMap
            var center = new google.maps.LatLng(25.033184, 121.560873); // 設定中心點
            map = new google.maps.Map(document.getElementById('map_div'), {  // 設定地圖
                zoom: 16,
                center: center,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            });
        }
        function addmark() { // 加入地標
            var latLng = new google.maps.LatLng(25.034166, 121.563576);// 地標位置
            var marker = new google.maps.Marker({//建立地標
                position: latLng,
                title: "台北101", // 地標標題
                animation: google.maps.Animation.DROP, // 動畫方式
                map: map,
            });
            var infowindow = new google.maps.InfoWindow(); // 訊息視窗
            infowindow.setContent('<h3> 台北 101</h3><p>精彩呈現TAIPEI的101種風情</p>'); // 訊息內容
            google.maps.event.addListener(marker, 'click', function (event) { // 建立訊息視窗
                infowindow.open(map, marker);
            });
            street = marker.getMap().getStreetView(); //設定街景
            street.setPosition(LatLng); // 街景位置
            street.setPov({ // 設定鏡頭視角
                heading: 0,
                zoom: 1,
                pitch: 0,
            });
        }

        function show_streeview() { // 顯示街景
            street.setVisible(true);
        }
    </script>
</head>

<body>
    <h2>Google 地圖</h2>
    <div id="map_div" style="width: 400px; height: 600px; border:1px solid black;"></div>
    <input type="button" value="加入地標" onclick="addmark();" style="margin:10px;">
    <input type="button" value="顯示街景" onclick="show_streeview();" style="margin:10px;">
</body>

</html>